body{
    background-color: aliceblue;
}

.navbar{
    display: flex;
    background-color: white;
    justify-content: space-between;
align-items: center;
padding: 10px;
border: solid 0.2px;
}

.sub-nav1{
    display: flex;
    align-items: center;
}

.sub-nav2{
    font-size: 20px;

}

.sub-nav2 a{
    text-decoration: none;
    margin-right: 7px;
    color: black;
}

.sub-nav2 a:hover{
    color: blue;
    text-decoration: underline;
}

select{
    background-color: rgb(35, 98, 182);
    padding: 7px;
    color: white;
    font-weight: bold;
    margin:5px;
}

input{
    width: 270px;
    height: 25px;
}

.sub-nav1 button{
    background-color: rgb(35, 98, 182);
    padding: 7px;
    color: white;
    font-weight: bold;
}